type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "監視・コントロール・プロセスとは"
content: '''
  監視・コントロール・プロセスとは
  監視・コントロール・プロセス群では、プロジェクトの進捗やパフォーマンスを定期的かつ一貫して監視、測定し、プロジェクトマネジメント計画書とパフォーマンス差異を検証し、その結果、必要な変更を開始するプロセスとなります。
  監視・コントロール・プロセス群は、統合マネジメントの「プロジェクト作業の監視・コントロール」プロセスと、「統合変更管理」プロセスを中心として、10のプロセスが定義されています。
  
  監視・コントロール・プロセス群では、以下のことが行われます。
  変更のコントロール、および起こりうる問題の予測に基づく予防処置の提案
  プロジェクトマネジメント計画書およびパフォーマンス・ベースラインを基準とした、実行中のプロジェクト活動の監視
  承認された変更だけが実施されるように、統合変更管理を経由しない可能性のある要因へに働きがけ
  このように、勝手に変更、実施されてしまったものを「スコープ・クリープ」と呼びます。
  監視・コントロール・プロセス群はあるプロセス群内で実施されるだけでなく、プロジェクト全体の作業の監視とコントロールも行います。
  複数フェーズにまたがるような場合、プロジェクトマネジメント計画書に沿ってプロジェクトに対し是正処置や予防処置を講じるように、プロジェクト・フェーズ間の調整を行います。
  そのレビューの結果、プロジェクトマネジメント計画書の更新が承認される場合もあります。
'''
tags: []
isStarred: false
createdAt: "2017-04-28T02:06:11.067Z"
updatedAt: "2017-04-28T02:06:25.021Z"
