type: "MARKDOWN_NOTE"
folder: "48bd7eb4beb50ad977cd"
title: "IoT 【 Internet of Things 】 モノのインターネット / インターネットオブシングス"
content: '''
  IoT 【 Internet of Things 】 モノのインターネット / インターネットオブシングス 
  IoTとは、コンピュータなどの情報・通信機器だけでなく、世の中に存在する様々な物体(モノ)に通信機能を持たせ、インターネットに接続したり相互に通信することにより、自動認識や自動制御、遠隔計測などを行うこと。
  自動車の位置情報をリアルタイムに集約して渋滞情報を配信するシステムや、人間の検針員に代わって電力メーターが電力会社と通信して電力使用量を申告するスマートメーター、大型の機械などにセンサーと通信機能を内蔵して稼働状況や故障箇所、交換が必要な部品などを製造元がリアルタイムに把握できるシステムなどが考案されている。
  IoE (Internet of Everything)
  「ありとあらゆるものが接続されたインターネット」という意味で、モノのインターネットと、人やデータ、情報、ソフトウェアなどが中心の従来からあるインターネットが統合された姿を指す。とはいえ、従来のインターネットとの違いはモノが接続されている点であるため、実際上はIoTとほぼ同義として用いられることが多い。主にCisco Systems社が提唱している用語。
'''
tags: []
isStarred: false
createdAt: "2017-04-25T01:23:26.171Z"
updatedAt: "2017-04-25T01:23:38.715Z"
