type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "スコープ・コントロールとは"
content: '''
  スコープ・コントロールとは
  スコープ・コントロールは、「プロジェクト・スコープと成果物スコープの状況を監視し、スコープ・ベースラインに対する変更をマネジメントするプロセス」と定義されています。
  要素成果物の作成状況は、このスコープ・コントロールプロセスで監視コントロールされます。
  スコープ・コントロールプロセスで、監視コントロールすることで、すべての変更要求および提案された是正処置や予防処置が、確実に統合変更管理プロセスを通して処理されることになります。
  スコープ・コントロールプロセスでは、プロジェクトマネジメント計画書に基づいて、スコープ・ベースラインと要素成果物の作成状況の差異分析を行い、スコープ・ベースラインに沿ったものになるように必要な処置を検討します。
  また、スコープ・コントロールプロセスでは処置は行わず、処置が必要な場合は、是正処置案または予防処置案を作成し、統合変更管理プロセスに対して変更要求を行います。
  スコープ・クリープ
  試験対策として、スコープ・クリープの意味は押さえておきましょう。
  PMBOKでは、「コントロールされずに行う変更のこと」をスコープ・クリープと定義しています。
  実際の現場で、軽微な変更などを報告や承認をせずに変更してしまい、これが積み重なっていつのまにかベースラインとスコープが乖離して、にっちもさっちもいかない状態に陥ることがあります。
  これがまさに、スコープ・クリープな状態です。
  スコープ・コントロールプロセスのインプット、ツールと技法、アウトプットは以下の通りです。
  
  インプット
  プロジェクトマネジメント計画書
  スコープ・コントロールプロセスでは、以下の情報を使用します。（4.2 プロジェクトマネジメント計画書作成）
  スコープ・ベースライン
  スコープ・マネジメント計画書
  変更マネジメント計画書
  コンフィグレーション・マネジメント計画書
  要求事項マネジメント計画書
  作業パフォーマンス情報
  着手した要素成果物の進捗状況や完成した要素成果物のプロジェクト進捗を参照します。
  要求事項文書
  要求事項文書については、5.1 要求事項収集を参照
  要求事項トレーサビリティ・マトリックス
  要求事項トレーサビリティ・マトリックスについては、5.1 要求事項収集を参照
  組織のプロセス資産
  PMBOKには、スコープ・コントロールプロセスに影響を与える組織のプロセス資産の例として、以下が記述されています。
  スコープ・コントロールに関連した、現行の公式および非公式の方針、手順およびガイドライン
  使用する監視と報告の方法
  ツールと技法
  差異分析
  スコープ・ベースラインとに基づいて、プロジェクトの作業パフォーマンス情報を評価し、差異の原因と差異の度合いを比較し、是正処置や予防処置が必要かどうかを決定します。
  アウトプット
  作業パフォーマンス測定結果
  作業パフォーマンス測定結果には、技術的パフォーマンスや他のスコープのパフォーマンス測定値の実績を、計画と対比することが含まれます。
  作業パフォーマンス測定結果は、文書化され、ステークホルダーに伝えられます。
  組織のプロセス資産更新版
  更新される組織のプロセス資産には以下のようなものがあります。
  差異の原因
  選択した是正処置とその選択理由
  プロジェクトのスコープ・コントロールから得られるその他の教訓
  変更要求
  スコープのパフォーマンス分析の結果、スコープ・ベースラインやプロジェクトマネジメント計画書のその他の構成要素に対して変更要求が提起される場合があります。
  変更要求には、是正処置や予防処置、欠陥修正があります。
  変更要求は、統合変更管理プロセスで検討され処理されます。
  プロジェクト・マネジメント計画書更新版
  承認された変更要求がプロジェクト・スコープに影響を与える場合に変更を反映させて、再発行します。
  プロジェクト文書更新版
  更新されるプロジェクト文書には以下のようなものがあります。
  要求事項文書
  要求事項トレーサビリティ・マトリックス
'''
tags: []
isStarred: false
createdAt: "2017-04-28T02:05:36.413Z"
updatedAt: "2017-04-28T02:06:38.625Z"
