type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "数学的モデルとは"
content: '''
  数学的モデルとは
  数学的モデル制約条件付き最適化法とも呼ばれ、大規模で複雑なプロジェクトの選定で使われる手法です。線形計画法、非線形計画法、動的計画法、整数計画法、多重目標計画法を使用します。
'''
tags: []
isStarred: false
createdAt: "2017-04-28T01:49:52.478Z"
updatedAt: "2017-04-28T01:54:44.047Z"
