type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "ステークホルダーは利害関係者をあらわす言葉です。企業で使う場合は、消費者や顧客、株主や金融機関、債権者、仕入れ先や得意先、従業員、地域社会や行政等を指して使われます。ステークホルダーは利害関係者全般を指して使われる言葉ですが、企業によっては「ステークホルダー」を指す対象が狭められていること(金融機関や債権者、仕入れ先や得意先は含まない等)があるため、意味を理解する時には注意が必要です。"
content: '''
  ステークホルダーは利害関係者をあらわす言葉です。企業で使う場合は、消費者や顧客、株主や金融機関、債権者、仕入れ先や得意先、従業員、地域社会や行政等を指して使われます。ステークホルダーは利害関係者全般を指して使われる言葉ですが、企業によっては「ステークホルダー」を指す対象が狭められていること(金融機関や債権者、仕入れ先や得意先は含まない等)があるため、意味を理解する時には注意が必要です。
  ステークホルダーは、社会的な影響力が高い大手企業でよく使われている言葉です。企業活動の中心となりやすい株主、金融機関、消費者や顧客、従業員だけでなく、地域社会や行政など、企業を取り囲む広範囲のステークホルダーに対しても、企業活動の中心となる利害関係者と同じように、何らかの取り組みを行っていくべきだとして、「ステークホルダーへの取り組み」を掲げる企業が多いようです。
'''
tags: []
isStarred: false
createdAt: "2017-04-28T01:47:25.823Z"
updatedAt: "2017-04-28T01:47:27.244Z"
