type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "プロジェクトマネジメント計画書とは"
content: '''
  プロジェクトマネジメント計画書とは
  
  プロジェクトマネジメント計画書作成は、「すべての補助計画書を定義し、作成し、統合し、調整するために必要な行動を文書化するプロセス」と定義されています。
  プロジェクトマネジメント計画書は、プロジェクトの実行、監視とコントロール、終結の方法を規定しています。
  プロジェクトマネジメント計画書作成のプロセスは、プロジェクトの終結まで継続して行われます。
  継続していく中で、「実行プロセス」や「監視・コントロールプロセス」からフィードバックを受けて計画書の内容を更新していくことになります。これを段階的詳細化と呼びます。
  プロジェクトマネジメント計画書作成プロセスのインプット、ツールと技法、アウトプットは以下の通りです。
  
  ・インプット
  プロジェクト憲章
  プロジェクト憲章作成プロセスでアウトプットされたプロジェクト憲章が、プロジェクトマネジメント計画書作成プロセスのインプットとなります。
  ・計画プロセスのアウトプット
  各計画プロセスの中で作成された、補助計画書がこのプロセスのインプットとなります。
  またすべての補助計画書が同時に作成されることはないので、各補助計画書が作成される度に、このプロセスが繰り返し実行されます。そしてその度に「プロジェクトマネジメント計画書更新版」としてアウトプットされます。
  ・組織体の環境要因
  プロジェクトマネジメント計画書作成プロセスに影響を与える組織体の環境要因としては以下のようなものがあります。
  国家標準や業界標準
  プロジェクトマネジメント情報システム
  組織構造や組織文化
  インフラストラクチャー
  人事管理
  ・組織のプロセス資産
  プロジェクトマネジメント計画書作成プロセスに影響を与える組織のプロセス資産としては以下のようなものがあります。
  標準化されたガイドライン、作業指示書、プロポーザル評価基準、パフォーマンス測定基準
  プロジェクトマネジメント計画書テンプレート
  変更管理手順
  過去のプロジェクトのプロジェクトファイル
  過去の情報と教訓の知識ベース
  コンフィグレーション・マネジメントの知識ベース
  ツールと技法
  ・専門家の判断
  プロジェクトマネジメント計画書を作成するときには、以下のような事項に対して専門家の判断を適用します。
  プロセスのテーラリング
  技術的詳細やマネジメントに関わる詳細事項
  必要な要員とスキルレベルの確定
  コンフィグレーション・マネジメントのレベル定義
  変更管理プロセスの対象となるプロジェクト文書の選定
  アウトプット
  ・プロジェクトマネジメント計画書
  各計画プロセスで作成された補助計画書とベースラインを統合、集約し以下のような項目を記載する。
  選択したライフサイクルと各フェーズに適用するプロセス
  テーラリングして得られた次のような項目
  プロジェクトマネジメント・プロセス
  各プロセスの実行レベル
  ツールと技法の記述
  選定したプロセスを適用する方法
  作業の実行方法
  変更マネジメント計画書
  コンフィグレーション・マネジメント計画書
  パフォーマンス測定ベースラインの一貫性を維持する方法
  ステークホルダー間のコミュニケーションのためのニーズと技法
  課題管理のためのマネジメントレビュー
  ・ベースラインについて
  3-4. 計画プロセス群でも記載しましたが試験対策上、とても大事ですのでここでも記載しておきます。
  ベースラインは、監視・コントロールでの判断基準になるもので、主要なステークホルダーによって公式に受け入れられたもので、以下の3つがあります。
  スケジュール・ベースライン
  コスト・パフォーマンス・ベースライン
  スコープ・ベースライン
  上記3つをまとめて、「プロジェクトベースライン」と呼びます。
  PMBOKの第4版では、コスト・パフォーマンス・ベースラインをコスト・ベースラインと記載されている箇所がありますが、これはPMBOK第3版まではコスト・ベースラインと呼ばれていたためのようで、同じものをいいます。
  ・補助計画書について
  補助計画書の種類は以下の通りです。
  要求事項マネジメント計画書（スコープ・マネジメント）
  スコープ・マネジメント計画書（スコープ・マネジメント）
  スケジュール・マネジメント計画書（スケジュール・マネジメント）
  コスト・マネジメント計画書（コスト・マネジメント）
  品質マネジメント計画書（品質マネジメント）
  プロセス改善計画書（品質マネジメント）
  人的資源計画書（人的資源マネジメント）
  コミュニケーション・マネジメント計画書（コミュニケーション・マネジメント）
  リスク・マネジメント計画書（リスク・マネジメント）
  調達マネジメント計画書（調達マネジメント）
  その他にも変更マネジメント計画書やコンフィグレーション・マネジメント計画書などが作成されることがありますが、PMBOK上には特に作成プロセスを定義していません。
  覚え方としては、スコープ・マネジメントと品質マネジメントの知識エリアからは2つ、それ以外の知識エリアからは1つづつ作成されて、全部で10つであると覚えると良いかもです。
'''
tags: []
isStarred: false
createdAt: "2017-04-28T01:57:21.817Z"
updatedAt: "2017-04-28T02:45:24.607Z"
