type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "プロジェクト憲章"
content: '''
  プロジェクト憲章
  多くのプロジェクトでは、関係者が「どんな目的か」「どんなスケジュールか」「関係者が誰か」というのを無意識のうちに共有できていると思います。
  
  提案書だとか、設計書だとかで、プロジェクトのゴールなども文書化されているでしょう。
  
  PMBOKで、プロジェクト統合マネジメントの立上げプロセスの一番最初に出てくる、「プロジェクト憲章作成」というプロセスは、「みんなが知っているはずのこと」を明示的に文書化して、プロジェクト憲章(Project Charter - プロジェクト・チャーター)を作るというものです。
  
  私が働いている企業では、部内に「プロジェクト憲章のテンプレート」なるものが存在しています。
  プロジェクトに任命されたPM(プロジェクト・マネージャー)は、必ずテンプレートに従って、プロジェクトの早い段階でプロジェクト憲章を完成させなくてはいけません。
  
  多くはすでに存在する情報を集めて作るのだけど、もし情報がなかったら、会議をして、情報収集したり、関係者に意思決定をしてもらいます。
'''
tags: []
isStarred: false
createdAt: "2017-04-28T01:42:30.345Z"
updatedAt: "2017-04-28T01:42:41.496Z"
