type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "WBS（ダブリュービーエス）は、 Work Breakdown Structure（ワークブレークダウンストラクチャー） の略で、プロジェクトで発生するタスクを一覧化したものを指し、担当者アサインやスケジューリングの 基礎になるものです。"
content: '''
  WBS（ダブリュービーエス）は、 Work Breakdown Structure（ワークブレークダウンストラクチャー） の略で、プロジェクトで発生するタスクを一覧化したものを指し、担当者アサインやスケジューリングの 基礎になるものです。
   
  WBSはタスクの最小単位までブレイクダウンしたものと思われがちですが、PMBOKで定義されるWBSはワーク パッケージの一覧とされていて粒度が粗いものです。 
  PMBOKではワークパッケージをさらに「アクティビティ」に分解しますが、これが世間一般に言われるWBSです。
   
  WBSはプロジェクトの肝といっても過言ではありません。
   
  タスクがきちんと洗い出されていなければ見積もりやスケジューリング、担当者アサインや進捗管理が適切 にできないからです。これでは、プロジェクトは円滑に進行できません。
   
  タスクを雑に洗い出したWBSを元に作成された見積もりやスケジュールは確実にブレが生じます。
  そんなWBSを見たときは、プロジェクトが炎上している未来が目に浮かんで背筋が寒くなります…（泣）
   
  PMBOKではWBSの作成は計画プロセスの「プロジェクト・スコープ・マネジメント」に規定されていて、 「WBS =スコープを明確にする」役割が強いものです。 
  「何をやるか」を定義するのと同時に「何をやらないか」を明確にしてプロジェクトオーナーの期待値を コントロールする役割があり、単なるスケジュール表ではないということを理解しておきましょう。
'''
tags: []
isStarred: false
createdAt: "2017-04-28T01:44:30.554Z"
updatedAt: "2017-04-28T01:44:31.858Z"
