type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "利益測定法とは"
content: '''
  利益測定法とは
  利益測定法プロジェクトの選定の際に、一般的に使われる手法です。費用便益分析や重み付け得点モデル、回収期間法、DCF、NPV、IRR、EPVなどがあります。
'''
tags: []
isStarred: false
createdAt: "2017-04-28T01:48:23.400Z"
updatedAt: "2017-04-28T01:53:55.112Z"
