type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "ディシジョン・ツリーとは"
content: '''
  ディシジョン・ツリーとは
  ディシジョン・ツリーとは、とりうる選択肢や起こりうるシナリオすべてを樹形図の形で洗い出し、それぞれの選択肢の期待値を比較検討した上で、実際にとるべき選択肢を決定する手法。
  
  ディシジョン・ツリーではまず、誰が意思決定者かを確認した上で、意思決定者にどのような選択肢（代替案）があるかをリストアップする。次に、それぞれの選択肢について、「起こりうる（不確実な）事柄」をリストアップする。そしてリストアップした事象それぞれについて、その事象が起こる確率とそのときのリターンを求める。確率は、ある選択肢内の合計が１（100％）になることを確認する。リターンは、企業の意思決定の場合、なるべく金銭に置き換えて定量化する。 
  
  このような作業を経て起こりうるシナリオを可視化し、ツリー全体に不備がないことを確認した上で、最終的に各選択肢の期待値の計算を行い、意思決定を行う。 
  
  実務でディシジョン・ツリーを用いるときに難しいのは、本来不確実であるリターンの額や、その発生確率を定量化することである。そのため、ディシジョン・ツリーを直接的に意思決定に応用しているのは、製薬や石油発掘など、リターンや発生確率を比較的推定しやすい業界に限られがちである。 
  
  また、金融工学の考え方を応用したリアル・オプションというプロジェクト評価の手法でも、ディシジョン・ツリーが応用されている。 
'''
tags: []
isStarred: false
createdAt: "2017-04-28T01:52:16.837Z"
updatedAt: "2017-04-28T01:54:08.247Z"
