type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "プロジェクト型組織とは"
content: '''
  プロジェクト型組織とは
  プロジェクト型組織《project organization》
  特定のプロジェクト専門のチームを作り、各々のプロジェクトで独立して事業が動かされる。この「プロジェクト型組織」ではプロジェクト内のマネジメントはプロジェクトマネージャーが責任を持って行う。各プロジェクトメンバーは定まったポジションはなく、プロジェクトが終了すれば別のプロジェクトに所属する。
  
'''
tags: []
isStarred: false
createdAt: "2017-04-28T02:11:12.548Z"
updatedAt: "2017-04-28T02:11:20.079Z"
