type: "MARKDOWN_NOTE"
folder: "9c866f10d427be4a495c"
title: "マトリックス組織とは"
content: '''
  マトリックス組織とは
  マトリックス組織《matrix organization》
  一般の組織が機能別、事業別、地域別などの1つの基準で編成されるのに対し、2つの基準を組み合わせて編成した組織のこと。例えば、事業別に編成された組織で各事業部が全国展開しているとき、それぞれの事業部が支店を出すと非効率になるし、1つの地域内で一貫した動きが取れない。そこで、それぞれの事業部に属する担当者を、同時に1人の支店長の指揮下にも置き、労務管理等のコストを低減し地域で統一的な活動ができるようにする。この場合、支店と事業部など、縦軸と横軸の指示命令系統ができることから、数学用語で「マトリックス（行列）」になぞらえてマトリックス組織とよばれる。 
  （kotobank　より）
  網の目型の組織形態で、従来の職能別組織にそれら各機能を横断するプロジェクトまたは製品別事業などを交差させたもの。
  構成員が自己の専門とする職能部門と特定の事業を遂行する部門の両方に所属する組織であり、情報の流通が大きくなる一方、各組織構成員が複数の上司から指示を受けるワンマン・ツーボスシステムのため、命令の一元化の原則に反し、組織が混乱することがある。
  
  また、マトリクス型の組織は、プロジェクトごとの「プロジェクト・マネジャー」の形態によって以下３つのタイプに分けられる。
  ウィーク（弱い）・マトリクス型組織
  明確な「プロジェクト・マネジャー」をたてないマトリクス型の組織。
  プロジェクトに参加するメンバー内でリソースの調整などを適宜果たす必要がある。指示系統がうやむやになり工数ばかりかかってしまうこともある。
  バランス・マトリクス型組織
  プロジェクトに参加するメンバーの中から「プロジェクト・マネジャー」をたてるマトリクス型の組織。
  「プロジェクト・マネジャー」と、部門の「ライン・マネジャー」を兼任する人なども出てくる。プロジェクトメンバーは、上司が「プロジェクトではプロジェクト・マネジャー」と「部門（部署）ではライン・マネジャー」の２人になり、指示系統に混乱することもある。
  ストロング（強い）・マトリクス型組織
  プロジェクトにプロジェクト・マネジメントを専門で行っているメンバーを「プロジェクト・マネジャー」として配置するマトリクス型の組織。
  「プロジェクト・マネジャー」は、リソース管理などについて他部門の「ライン・マネジャー」よりも強い権限を持つ。各プロジェクトのマネジメントは「プロジェクトマネジメント」部門と認識でき指示系統がはっきりしやすい。
  
'''
tags: []
isStarred: false
createdAt: "2017-04-28T01:30:11.533Z"
updatedAt: "2017-04-28T01:54:53.493Z"
