type: "SNIPPET_NOTE"
folder: "06c0e01fca5283dbc40e"
title: "ドラック"
description: "ドラック"
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
createdAt: "2017-08-18T00:24:22.800Z"
updatedAt: "2017-08-18T00:24:31.060Z"
