type: "MARKDOWN_NOTE"
folder: "f282083b299efec6c76d"
title: "LocakかDICTIONARYか確認"
content: '''
  LocakかDICTIONARYか確認
  SELECT TABLESPACE_NAME,EXTENT_MANAGEMENT,ALLOCATION_TYPE
  FROM DBA_TABLESPACES;
'''
tags: []
isStarred: false
createdAt: "2017-05-22T06:37:48.489Z"
updatedAt: "2017-05-22T06:37:58.293Z"
