type: "MARKDOWN_NOTE"
folder: "22ad5f5930b3ec143212"
title: "接続先マシンのユーザー名／パスワードを入力することによりアクセス可能になります。「資格情報を記憶する」にチェックすると、次回より入力を省略することができます。"
content: '''
  接続先マシンのユーザー名／パスワードを入力することによりアクセス可能になります。「資格情報を記憶する」にチェックすると、次回より入力を省略することができます。
  
  しかし接続がうまくいった資格情報を記憶しても、PC再起動後にうまく接続できない場合があります。この場合の要因は様々ですが、記憶した資格情報でアクセスしようとするため、いつまで経っても接続できない状態が続きます。
  
  記憶した資格情報とは、前述の認証画面で入力したユーザー名とパスワードを指します。この資格情報は、以下の手順で変更や削除を行うことができます。削除してしまえば、また再びユーザー名／パスワードを入力させるダイアログが復活します。以下の手順で「資格情報マネージャー」の画面を開いてください。
  
  [コントロールパネル] → カテゴリ[ユーザーアカウント] → [資格情報マネージャー] → [Windows 資格情報の管理]
'''
tags: []
isStarred: false
createdAt: "2017-08-18T00:21:01.444Z"
updatedAt: "2017-08-18T00:21:29.086Z"
