type: "SNIPPET_NOTE"
folder: "d39781ab119b956b4f5b"
title: "Android.Activityから遷移してActivity.Formsを呼ぶ"
description: '''
  Android.Activityから遷移してActivity.Formsを呼ぶ
  
  普通に遷移してFormsの画面を呼べばいけるみたい
  
  でも、既存のsetting.xmlを読んでいると落ちる。。。
  なんでかわかんない・・・
  [Activity(Label = "WebTestActivity", Theme = "@style/MainTheme", ConfigurationChanges = ConfigChanges.ScreenSize | ConfigChanges.Orientation)]
  これだとエラーで落ちる
  Theme = "@style/MainTheme"がないと平気みたい
  
'''
snippets: [
  {
    name: "WebTestActivity.cs"
    mode: "C#"
    content: '''
      using Android.App;
      using Android.Content;
      using Android.OS;
      using Android.Content.PM;
      
      namespace nfcTest.Droid
      {
          [Activity(Label = "WebTestActivity", ConfigurationChanges = ConfigChanges.ScreenSize | ConfigChanges.Orientation)]
          public class WebTestActivity : Xamarin.Forms.Platform.Android.FormsApplicationActivity
          {
              protected override void OnCreate(Bundle bundle)
              {
      //            TabLayoutResource = Resource.Layout.Tabbar;
      //            ToolbarResource = Resource.Layout.Toolbar;
      
                  base.OnCreate(bundle);
                  Xamarin.Forms.Forms.Init(this, bundle);
                  Intent intent = base.Intent;
                  string url = intent.GetStringExtra("URL");
                  LoadApplication(new WebApp(url));
              }
          }
      }
    '''
  }
  {
    name: "styles.xml"
    mode: "XML"
    content: '''
      <?xml version="1.0" encoding="utf-8" ?>
      <resources>
      
        <style name="MainTheme" parent="MainTheme.Base">
        </style>
        <!-- Base theme applied no matter what API -->
        <style name="MainTheme.Base" parent="Theme.AppCompat.Light.DarkActionBar">
          <!--If you are using revision 22.1 please use just windowNoTitle. Without android:-->
          <item name="windowNoTitle">true</item>
          <!--We will be using the toolbar so no need to show ActionBar-->
          <item name="windowActionBar">false</item>
          <!-- Set theme colors from http://www.google.com/design/spec/style/color.html#color-color-palette -->
          <!-- colorPrimary is used for the default action bar background -->
          <item name="colorPrimary">#2196F3</item>
          <!-- colorPrimaryDark is used for the status bar -->
          <item name="colorPrimaryDark">#1976D2</item>
          <!-- colorAccent is used as the default value for colorControlActivated
               which is used to tint widgets -->
          <item name="colorAccent">#FF4081</item>
          <!-- You can also set colorControlNormal, colorControlActivated
               colorControlHighlight and colorSwitchThumbNormal. -->
          <item name="windowActionModeOverlay">true</item>
      
          <item name="android:datePickerDialogTheme">@style/AppCompatDialogStyle</item>
        </style>
      
        <style name="AppCompatDialogStyle" parent="Theme.AppCompat.Light.Dialog">
          <item name="colorAccent">#FF4081</item>
        </style>
      </resources>
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-04-21T00:44:34.494Z"
updatedAt: "2017-04-21T00:49:11.356Z"
