type: "MARKDOWN_NOTE"
folder: "2e5c125b533278cc39d4"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: []
isStarred: false
createdAt: "2017-04-22T02:41:51.725Z"
updatedAt: "2017-04-22T02:41:51.725Z"
