type: "MARKDOWN_NOTE"
folder: "bdc7fcb8e15f6e8ed72c"
title: "EPELとは"
content: '''
  EPELとは
  EPEL は、多くの Fedora の貢献者たちが Fedora のパッケージを自分たちが使っている Red Hat Enterprise Linux (RHEL) やその互換ディストリビューション上で使用したいという要望から始まりました。
  
  EPEL の目的
  
  Fedora で開発、テスト、改良された高品質のパッケージを RHEL や CentOS/Scientific Linux のような互換ディストリビューションで利用可能にすることです。
  
  この目的を達成するためには Fedora プロジェクトにも密接して作業してください。できるだけ、Fedora プロジェクトと同じガイドライン、ルール、ポリシーやインフラを使用してください。
  
  もし問題に遭遇したら、パッケージング委員会のような EPEL 独自の解決方法ではなく、Fedora のグループやその他の仲間たちと共にその問題を解決してください。EPEL 独自の解決方法は、ユーザやパッケージャに混乱を招き、Fedora と EPEL 間のポーティングを難しくします。
  
  Fedora との同期を維持することができない(望まない)稀なケースでは、EPEL プロジェクトに対して、その理由とパッケージングの違いを説明するメンテナンス用のドキュメントを追加してください。
  
  これらのパッケージは誰が必要としてる
  
  エンタープライズ Linux ユーザ/管理者からの視点
  RHEL のサポートパッケージとして提供されていないけれど、ユーザや管理者は、少なくとも1つぐらいは自分が望むパッケージがあったことを経験しているはずです。このプロジェクトは RHEL で提供されていないけれど、Fedora には存在するパッケージの恩恵やサポートを推奨するための場所を提供します。
  
  あなたの会社が標準インストールの一部として必要とするパッケージであろうと、あなたが利用したいと思うソフトウェアであろうと、楽しんで作業することができます。Fedora エンタープライズパッケージは、特定のソフトウェアを必要とするコミュニティやサポートを構築するための良い方法です。
  
  コミュニティからの視点
  Fedora コミュニティの多くのメンバーも Fedora から派生したエンタープライズ Linux のディストリビューション(RHEL や CentOS)のユーザ/管理者です。みんながそれぞれ特定のソフトウェアの一部を推奨したい理由を持っています。EPEL パッケージはエンタープライズ Linux ユーザからの支持を得る最も良い方法です。
  
  
  ISV/IHV からの視点
  ISV/IHV から見て EPEL をビルドする恩恵には大きな可能性を持っています。もし、あなたのソフトウェアがオープンソースのライブラリやよく知られたツールを集めた独自コピーでしかないならば、それらのパッケージを提供するために EPEL を頼ることができます。例えば、Perl モジュールはよく必要とされ、再パッケージングされます、それは EPEL を通じて利用可能になります。依存関係は EPEL によって解決されるでしょう、そして、自分たちのチームが注力したいこと(開発、サポート、プロダクトの提供)に全力を尽くすことができます。
  
  さらに、自分たちのプロダクトを提供するためにオープンソースソフトウェアを利用する ISV/IHV チームに所属しているなら、あなたは EPEL に貢献する機会を持っています。このことは、そのプロダクトを利用している顧客のパッケージに対して、コミュニティのサポート、レビュー、テストが受けられることになります。
  
  ISV/IHV のために、これはエンタープライズエコシステムの中へあなたのソフトウェアを展開する方法です。
  
  リポジトリからお気に入りのソフトウェアを利用可能にするために Fedora のパッケージングプロセスを利用する
  Fedora へ新規パッケージを追加する
  エンタープライズレベルのライフサイクルを提供したいパッケージの共同メンテナになる
  あなたのアプリケーションに関連するコミュニティを構築するためにフリーソフトウェアやオープンソースライブラリ、又は共有ソフトウェアをパッケージングする
  Fedora のテストやフィードバックを6ヶ月から12ヶ月かけて行う
  アルファ版のスナップショットが取られる前に RHEL のベータテストに備える、3ヶ月から6ヶ月かかる
  RHEL の GA と同時にエンタープライズレベルに近いバージョンをリリースする
  サポートやパッケージのメンテナンスを継続することは、Fedora で並行して技術の進歩を受けながら、あなたの自由意思によるオープンソースの開発プロセスの一部になります
  学術的機関からの視点
  RHEL で提供されていないソフトウェアの必要性に加えて、学術的機関には、段階的にオープンソースプロジェクトの領域からエンタープライズへ移行する機会を学生が学ぶための大きな機会になります。
  
  コーディングやドキュメント作成を行う学生が経験する典型的なフリーソフトやオープンソースのプロジェクトで、Fedora エンタープライズのパッケージングは色んな経験を得るための手段の1つです。現実の世界の、実際の現場では、自分たちのソフトウェアに関連するエンタープライズコミュニティを構築しながら、機能拡張、バグ修正、全てのコミュニティにまたがったセキュリティアップデートを管理して、フリーソフトやオープンソースコミュニティをサポートすることになります。
  
  Red Hat からの視点
  これはシンプルに想像力を鍛えるための練習です。
  
  顧客(RHEL)のために巨大で完全にオープンな Linux ディストリビューションをサポートしながら、巨大で、完全にオープンでフリーな Linux ディストリビューションの世界共通のコミュニティ(Fedora)を利用できる会社にあなたが所属していると想像してください。
  
  あなたのエンタープライズディストリビューションが何であるかは、あなたが顧客のためにサポートすることができると考えている内容と、顧客が依頼する内容によって影響を受けるということを想像してください。あなたが最も興味があるモノか、顧客が最も興味があるモノ、全ての個別パッケージをあなたが管理することができるだろうか？そのような巨大なパッケージセットのサポートと QA(品質保証) をあなたが提供することができるだろうか？
  
  あなたのパッケージセット(サポートするモノ)が選び易くなり、エンタープライズレベルのコミュニティサポートと広告宣伝が可能になることを想像してください。
  
  周りを見渡せば、RHEL で提供されていないこれらのパッケージを提供するために多くの協力をしている方々の存在が分かります。Fedora エンタープライズパッケージは、これらのパッケージを利用可能にして、発展させるための手段の1つであり、その作業は尊敬に値するものです。
'''
tags: []
isStarred: false
createdAt: "2017-06-05T05:27:43.732Z"
updatedAt: "2017-06-05T05:27:57.927Z"
