type: "MARKDOWN_NOTE"
folder: "bdc7fcb8e15f6e8ed72c"
title: "強制的にシングルユーザーモードで起動する"
content: '''
  強制的にシングルユーザーモードで起動する
  
  http://www.obenri.com/_operation/singleuser.html#target_singleusermode01
  
  ここでいうシングルユーザーモードとは  で説明しているシングルユーザーモードと同じものです。 
   
  シングルユーザーモードは必要最小限の デーモン 以外は起動しませんし、パスワード不要で自動的に "root" アカウントで ログイン することになります。 
  つまりシングルユーザーモードで起動しておけば、 ログ ファイルを解析したり ntsysv コマンド でデーモンの起動情報を変更するなりして問題の対処に当たることが出来るわけです。もちろん テキスト エディタで設定ファイルを修正することもできます。 
  また起動後に passwd コマンドでそのまま "root" アカウント のパスワードを再設定できますから、"root"のパスワードを忘れてしまったときなども簡単に対処することができます。 
  システムをシングルユーザーモードで起動するには "/etc/inittab" を書き換えて再起動するか    、別のランレベルで稼働中に telinit コマンドで切り替えるのが普通です。 
  しかし既にシステムが起動できない状態にあるときにはこういった方法は使えませんので強制的にシングルユーザーモードで起動することになります。 
  シングルユーザーモードではネットワークが利用できませんから、リモートではなくサーバー機を直接操作することになります。 
  まず ホスト機 の電源を入れたら、画面上に WBEL や CentOS の最初の起動画面、 
   
  CentOS5の起動画面(ここでeキーを押す) 
  が出たときに e キーを押します。すると以下のような カーネル バージョンの選択画面になります。 
   
  CentOS5のカーネルバージョン画面(ここでeキーを押す) 
  このリストでハイライトしているカーネルバージョンが現在使用中のものですから、ここでもそのまま e キーを押します。 
  すると以下のような OS の起動選択画面になりますから、ここで "kernel～" で始まる行をカーソルキーで選び、もう一度 e を押します。 
   
  CentOS5の起動選択画面(kernel～を選んでeキーを押す) 
  すると、以下のようなコマンド入力画面になります。 
   
  コマンド入力画面 
  ここで "[スペース]single" とタイプして Enter を押します。 
   
  " single"を入力 
  すると" single"が追加された起動コマンドラインが起動選択画面にリストされます。 
   
  " single"が追加された起動選択画面(kernel～を選んでbキーを押す) 
  ここでこれを選択して b キーを押します。するとシステムがシングルユーザーモードで起動します。 
   
  シングルユーザーモードでの起動画面 
  プロンプト の形式が通常のログイン時と異なりますが、これは bash の初期設定ファイルが読み込まれていないだけですので特に気にする必要はありません。 
  ここで実施したシングルユーザーモードでの強制起動は一時的なものですので、 reboot コマンドなどで再起動すると強制起動前のランレベルで起動するようになります。 
'''
tags: []
isStarred: false
createdAt: "2017-05-10T00:11:31.904Z"
updatedAt: "2017-05-10T00:12:29.437Z"
