type: "SNIPPET_NOTE"
folder: "0c2c9cdedc7714162967"
title: "標準どおりで覚えることが少ない"
description: "標準どおりで覚えることが少ない"
snippets: [
  {
    name: "tag"
    mode: "text"
    content: '''
      <example>
          <button onclick='{ methodName }'>Click</button>
          <script>
              methodName ( event ) {
                  console.log( event )
              }
          </script>
      </example>
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-06-06T06:48:07.727Z"
updatedAt: "2017-06-06T06:48:22.888Z"
