type: "SNIPPET_NOTE"
folder: "5975f3ad0d9cd822be7a"
title: "$(document).ready"
description: '''
  $(document).ready
  
'''
snippets: [
  {
    name: ".js"
    mode: "JavaScript"
    content: '''
      /**
       * これは画像などを除いて、HTML=DOMの読み込みが終わったらfunction()の中の処理(=なにかしらの処理)を実行するという意味です。
       * jQuery(JavaScript)はHTMLが完全に読み込まれないまま何か処理を実行すると大抵正しく動作しません。なのでこのreadyを使うことになります。
       */
      $(function(){
        //なにかしらの処理
      });
      
      
      jQuery(document).ready(function() {
      //なにかしらの処理
      });
      
      jQuery(function(){
        //なにかしらの処理
      });
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-08-21T00:09:32.294Z"
updatedAt: "2017-08-21T00:10:34.119Z"
