type: "SNIPPET_NOTE"
description: "ｆｓ"
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
title: "ｆｓ"
folder: "0c2c9cdedc7714162967"
createdAt: "2017-06-23T09:26:49.830Z"
updatedAt: "2017-06-23T09:26:49.830Z"
isStarred: false
tags: []
