type: "MARKDOWN_NOTE"
folder: "b4c8dac7c4ee0cfe9bb4"
title: "コンポーネントにv-modelで引数を渡すとオブジェクトや配列もいける！！！"
content: "コンポーネントにv-modelで引数を渡すとオブジェクトや配列もいける！！！"
tags: []
isStarred: false
createdAt: "2017-06-23T09:26:51.772Z"
updatedAt: "2017-06-23T09:30:34.117Z"
