type: "SNIPPET_NOTE"
folder: "b4c8dac7c4ee0cfe9bb4"
title: "JSON を Vue.js テンプレートに展開"
description: "JSON を Vue.js テンプレートに展開"
snippets: [
  {
    name: "test.html"
    mode: "HTML"
    content: '''
      <html>
       
      <head>
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      </head>
       
      <body>
      <table id="app" style="display:none">
        <tr>
          <td>項目</td>
          <td>データタイプ</td>
          <td>データ</td>
        </tr>
        <tr v-for="(value, key) in infos">
          <td>{{ key }}</td>
          <td>{{ value[0].type }}</td>
          <td>{{ value[0].value }}</td>
        </tr>
      </table>
       
      <script>
          axios.get('http://uedayou.net/loa/%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E6%B0%B8%E7%94%B0%E7%94%BA%E4%B8%80%E4%B8%81%E7%9B%AE7.json')
            .then(function (response) {
              initVue(response.data);
            })
            .catch(function (error) {
              console.log(error);
            });
       
          function initVue(info){
              new Vue({
                      el: '#app',
                      data: {
                        infos: info["http://uedayou.net/loa/東京都千代田区永田町一丁目7"]
                      },
                      mounted: function(){
                        document.getElementById("app").style.display = "";
                      }
                  })
          }
      </script>
       
      </body>
      </html>
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-06-12T10:26:20.837Z"
updatedAt: "2017-06-12T10:26:48.153Z"
