type: "MARKDOWN_NOTE"
folder: "b03bdce8de457c03c311"
title: "PMOとは"
content: '''
  PMOとは
  
  コンサルティングサービスの一つであるPMOについて説明をしたいと思います。PMOはProject Management Officeの頭文字をとっています。
   
  IT導入プロジェクトのような、大規模なプロジェクトにおける、マネジメントチームのサポートをする組織がPMOです。
   
  このPMOの役割を外部組織（コンサルティングファームなど）に委託する場合があります。なぜ、クライアント企業はプロジェクトマネジメントのサポート機能を委託するのでしょうか？
   
  プロジェクトは、ある目的のために、期間限定で組織されるチームが仕事をしていくことになります。
   
  そして、ある目的が達成されるとプロジェクトチームが解散します。例えば、M&AやIT導入のプロジェクトが頻繁に起こるとは考えにくいですよね。
   
  そのため、一般の企業には、プロジェクトマネジメントのナレッジがなかなかたまりにくいという実情があります。
   
  あなたが、一般企業において大規模プロジェクトの責任者であったとします。このようなときにプロジェクトマネジメントの経験やナレッジを豊富に持っている人がいたら、いかがでしょうか？
   
  ぜひその人にプロジェクトマネジメントのサポートをしてほしいと思いますよね。そのためプロジェクトマネジメントのサポート機能であるPMOの役割を外部組織に委託するというニーズが存在しています。
  
  PMOのサポートの仕方にいくつかタイプがあります。三つのタイプについて記載をします。
   
  ①支援(情報提供)型
  [内容]　プロジェクトマネジメントのテンプレート、ベスト・プラクティス、他プロジェクトからのナレッジや経験に基づいて助言を提供します
  [PMOの関与度合]　小
   
  ②コントロール型
  [内容] 支援を行うことに加えて、組織で定義されたプロジェクトマネジメントの手法に基づいてコンプライアンスがなされるように要求します（コンプライアンスは法令順守だけでなく、プロジェクトマネジメントの枠組みの活用、テンプレートの使用を含む）
  [PMOの関与度合]　中
   
  ③指揮型
  [内容] 支援やコンプライアンスの要求に留まらず、プロジェクトを直接指揮します
  [PMOの関与度合]　大
   
  また、PMOとプロジェクトマネジメントとの関連性を表すと以下のようになります。
   
  プログラムマネージャー：　複数プロジェクトをまとめたプロジェクトマネジメント
  プロジェクトマネージャー：　単体プロジェクトのプロジェクトマネジメント
  PMO：　プログラムマネージャーやプロジェクトマネージャーに対するサポート
   
  
'''
tags: []
isStarred: false
createdAt: "2017-04-24T08:29:08.385Z"
updatedAt: "2017-04-24T08:29:26.244Z"
