type: "MARKDOWN_NOTE"
folder: "b03bdce8de457c03c311"
title: "PMBOK（ピンボック）とは"
content: '''
  PMBOK（ピンボック）とは
  
  通常、PMOを提供する際には、その種のプロジェクトのマネジメントを多く行ったことのある人がサービス提供します。
   
  同時に、過去のいろいろなプロジェクトの経験を蓄積し、どのようなプロジェクトマネジメントにでも共通するような知識が体系化されているようなフレームワークを活用します。
   
  これらのフレームワークを活用することによって、経験の多寡によらず、一定のレベル以上の品質でプロジェクトマネジメントをサポートすることが可能になります。
   
  例えばPMBOK（ピンボック）というフレームワークがります。
   
  これは、プロジェクトマネジメント協会（PMI）が提供しているA Guide to the Project Management Body of Knowledgeの頭文字の略になっています。
   
  プロジェクトのスコープ、コスト、タイムなどといった10の項目について、プロジェクトマネジメントにおいて押えるべきポイントが明示されています。これらの項目をPMBOKでは知識エリアと呼んでいます。
   
  このサイトにおいてもPMOについては、このPMBOKをベースに説明をしていきたいと思います。
   
  まず、初めにPMBOKの「10の知識エリア」について、考えてみたいと思います。以下のチャートがPMBOKの「10の知識エリア」の概要図になっています。
   
  10の知識エリアというと、何か目新しいアイディアがあるのかと思いますが、そうではありません。5W2HやQCDといった非常にプリミティブな考え方から構成されています。
   
  例えば、5W2Hで考えますと、統合マネジメントはWhy、スコープマネジメントはWhat、コストマネジメントはHow much、タイムマネジメントはWhen、リソースマネジメントはWhoというような具合です。調達マネジメントはHowの方が自然かもしれませんが、「どこ」から調達するのかという意味でWhereとしています。
   
  また、品質マネジメント、コストマネジメント、タイムマネジメントはQCDそのものです。
   
  このように他のプリミティブなフレームワークと有機的に関連をさせるとPMBOKの各要素についても理解がしやすのかなと思います。いずれにしましても、非常に根本的なアイディアから構成されています。
'''
tags: []
isStarred: false
createdAt: "2017-04-24T08:32:04.171Z"
updatedAt: "2017-04-24T08:32:25.891Z"
