type: "MARKDOWN_NOTE"
folder: "b03bdce8de457c03c311"
title: "ロングテールとは"
content: '''
  ロングテールとは
  
  ロングテールは、インターネット登場後に出てきたコンセプトです。
   
  リアル店舗においては、売場スペースや在庫について物理的な制約があります。また、商圏も地理的な制約を受けることになります。
   
  そのため、売場に陳列する商品や在庫については、いろいろな商品を無制限に選択することが出来ず、売れやすい商品を中心に店舗に置いておく必要があります。
   
  結果として、リアル店舗のビジネスでは、多くの顧客に売れやすい商品つまり、売り筋商品を中心に扱わざるをえません。
   
  
   
  一方、インターネットを使用した販売では、売場スペースや在庫の制約がほぼなくなっています。また、地理的制約を考えずに、広くニーズを掘り起こすことが可能です。
   
  結果として、売れ筋商品以外についても扱うことが可能となります。
   
  具体例として、インターネット販売の草分け的存在である、アマゾンジャパンと町にあるリアル書店を例にとって、ロングテールについて考えてみましょう。
   
  まず、町にあるリアル書店は、店舗の商品陳列スペースに限りがあり、また、在庫スペースにも限りがあります。
   
  また、商圏を考えてみると、よほどの超大型書店でない限り、町にあるリアル書店はその町の近隣住民が対象顧客となります。
   
  そのため、売れ筋商品以外を購入する顧客の母数については、とても小さくなります。
   
  結果として、1年に1冊売れるか売れないか程度の書籍をリアル店舗に置いておくことは出来ません。ですから、パレートの法則(80:20の法則)に従って、ベストセラー作品や受賞作品など売れ筋商品を中心に扱う必要があります。
   
  一方で、インターネットによる書籍販売をしているアマゾンジャパンではどうでしょうか？
   
  まず、陳列スペースについては、インターネット上に情報を表示させるだけですので、物理的なスペースについて考慮する必要はありません。
   
  在庫についても、リアル店舗のように各店舗に在庫を保持する必要はなく、日本全国で数カ所に在庫センターを設けて一括して在庫を保持していくことが可能になります。
   
  また、商圏に関しても、アマゾンジャパンへのアクセスは通信環境が整ってさえいれば、地理的な制約を考慮する必要がありませんので、日本全国の顧客を対象とすることができます。
   
  そのため、町のリアル店舗では、1年に1冊程度しか売れないような書籍についても、アマゾンジャパンでは全国の市区町村のニーズを集めることができるため、同じ書籍でも年間1000冊のニーズを掘り起こすことができるかもしれません。
   
  また、アマゾンジャパンでは在庫を集中管理しており、日本全国から寄せられるニーズに対して、その在庫センターから書籍を発送できます。
   
  このようにリアル店舗では、扱えなかったような売れ筋以外のロングテールの書籍についても、アマゾンジャパンのようなインターネット販売では扱うことができることになります。
   
  しかし、パレートの法則に従って、売れ筋商品を販売していくというリアル店舗の状況が通用しなくなったということではありません。
   
  あくまでも、ロングテールが適用されるのは、インターネット販売の場合だけです。リアル店舗の場合には、パレートの法則に従って、売れ筋商品が販売されていくことに何ら変わりはありません。
   
  このように、インターネットの使用の可否によって、売れ筋商品を扱うのか、売れ筋以外のロングテールも扱うのかが変わってくるということを頭に入れておくことが必要です。
'''
tags: []
isStarred: false
createdAt: "2017-04-24T08:35:42.525Z"
updatedAt: "2017-04-24T08:35:58.396Z"
