type: "MARKDOWN_NOTE"
folder: "f035071776c2841e01c4"
title: "【問題】"
content: '''
  【問題】
  あるプロジェクトで、発生するとコスト削減が可能となるリスクを特定しました。このリスクに適用できる戦略として、正しいものを1つ選びなさい。
  
  A. 受容、活用、転嫁、強化
  B. 受容、活用、共有、強化
  C. 受容、利用、共有、強化
  D. 受容、回避、転嫁、軽減
  
  
  正解　B
  
  （解説）
  プラスのリスクへの対応策を問う問題です。 PMBOK®Guideではリスクを「もし発生すれば、プロジェクト目標にプラスあるいはマイナスの影響を及ぼす、不確実な事象あるいは状態」と定義しています。 問題文を見ると、「発生するとコスト削減が可能となるリスク」となっていますので、プラスのリスクです。プラスのリスクに適用できる戦略は、活用、共有、強化、受容です。正答以外の選択肢には、戦略としてPMBOK®Guideで定義されていないもの、あるいはマイナスのリスクに対する戦略が混在しています。 < PMBOK®Guide第5版　11.5.2参照>
'''
tags: []
isStarred: false
createdAt: "2017-04-24T07:59:31.565Z"
updatedAt: "2017-04-24T07:59:33.078Z"
