type: "MARKDOWN_NOTE"
folder: "b03bdce8de457c03c311"
title: "ステークホルダー・マネジメントとは"
content: '''
  ステークホルダー・マネジメントとは
  
  ここで言う、ステークホルダーとはそのプロジェクトの進捗に何らかの影響を及ぼす関係者を指します。
   
  ステークホルダーには、プロジェクトに対して、肯定的な人もいれば否定的な人もいます。
   
  ステークホルダー・マネジメントでは、ステークホルダーとの関わりを円滑にして、プロジェクトの成功に導こうとするものです。
   
  PMBOKにおけるステークホルダー・マネジメントとは「プロジェクトに影響を与えたりプロジェクトによって影響を受けたりする可能性がある個人やグループまたは組織を特定し、ステークホルダーの期待とプロジェクトへの影響力を分析し、ステークホルダーがプロジェクトの意思決定や実行に効果的に関与できるような適切なマネジメント戦略を策定するプロセスと活動」としています。
   
  
   
  ＜PMBOKで定義されるステークホルダー・マネジメント＞
  ①ステークホルダー・マネジメント計画
  内容：　ステークホルダーのプロジェクトへの関わり方をマネジメントするための活動を計画し、ステークホルダー・マネジメント計画書を作成します。
  実施タイミング：　計画時
   
  ②ステークホルダー・エンゲージメント・マネジメント
  内容：　ステークホルダーのプロジェクトが適切になるように、マネジメントをしていきます。
  実施タイミング：　実行時
   
  ③ステークホルダー・エンゲージメント・コントロール
  内容：　ステークホルダー・エンゲージメント・マネジメントを監視して、ステークホルダー計画書に従い、活動が行われているかを確認し、問題がある場合には対応策を講じます。
  実施タイミング：　監視・コントロール時
   
  ステークホルダーが多くなればなるほど、プロジェクトそのものとは関係ないところで、プロジェクトがスタックしてしまうということもあります。
   
  想像もしないようなところから、横槍がはいり、プロジェクトの進捗に影響をきたすということも起こりえます。
   
  ですから、しっかりとステークホルダーを洗い出し、プロジェクトに否定的な立場になりそうな人に対して、対策をとるということはとても大切です。
   
  自分の胸に手を当てて考えてみると、意識的にでも無意識的にでも、突き詰めると自分の利益のために活動していることが分かると思います。
   
  これは、プロジェクトのステークホルダーも同じことです。ですから、プロジェクトを進めると何らかのマイナス要因を受ける可能性があるステークホルダーにはしっかりと対応をしてくことが必要になります。
'''
tags: []
isStarred: false
createdAt: "2017-04-24T08:23:35.962Z"
updatedAt: "2017-04-24T08:23:50.145Z"
