type: "MARKDOWN_NOTE"
folder: "f035071776c2841e01c4"
title: "【問題】"
content: '''
  【問題】
  クリティカル・パスの定義として、正しいものを1つ選びなさい。
  
  A. プロジェクトを通して最も長いアクティビティの経路
  B. プロジェクトを通して最も短いアクティビティの経路
  C. プロジェクトで最も余裕のあるアクティビティの経路
  D. プロジェクトで最も早く終了するアクティビティの経路
  
  
  正解　A
  
  （解説）
  クリティカル・パス(Critical Path)についての設問です。 クリティカル・パスは「プロジェクトで最も短いアクティビティの経路」ではなく、逆にもっとも所要期間の長いアクティビティの経路です。 PMBOK®Guide第5版の用語集では、クリティカル・パスを次のように定義しています。「プロジェクト・アクティビティの最長経路。そこからプロジェクトの最短所要期間が求められる。」この定義の最長と最短の意味を正しく理解してください。
  < PMBOK®Guide第5版　6.6.2.2参照>
'''
tags: []
isStarred: false
createdAt: "2017-04-24T07:56:56.978Z"
updatedAt: "2017-04-24T07:57:53.621Z"
