type: "MARKDOWN_NOTE"
folder: "1238892c6005498dddab"
title: "■プロジェクトの構成"
content: '''
  ■プロジェクトの構成 
  
  作成したプロジェクトのフォルダを開いて中を見てみましょう。かなりさくさんのフォルダがあって驚いたことでしょう。ここでざっと整理しておきましょう。
  
  「app」フォルダ――これが、アプリケーションの本体部分になります。アプリケーションの開発を行う際には、ここにPHPのプログラムを配置していきます。
  
  「bootstrap」フォルダ――アプリケーションのブートストラップ・プログラムです。起動してからの各種処理が用意されています。
  
  「config」フォルダ――アプリケーションの各種設定情報を記述するところです。
  
  「database」フォルダ――データベース関連のふぁいるをまとめたところです。
  
  「public」フォルダ――公開フォルダです。MVCアーキテクチャーを使わない普通のHTMLファイルなどはここに配置します。
  
  「resources」フォルダ――アプリケーションで使用するリソースファイルを置くところです。MVCのビュー（画面表示）のテンプレートファイルなどはここに置きます。
  
  「storage」フォルダ――データ保存のための場所です。セッションやキャッシュなどの保存ファイルが作成されます。
  
  「tests」フォルダ――ユニットテスト関連のファイルの配置場所です。
  
  「vendor」フォルダ――ベンダーが作成するプログラム類がまとめられています。
  
  この他、ファイル類もいろいろと保存されていますが、私たちが操作するひつようのあるものは特に無いので省略しましょう。たくさんありますが、重要なのは「app」「config」「public」「resources」あたりでしょう。
  
  「app」は、実際のプログラミングを行うときに必ず使います。「config」は、例えば利用するデータベースを設定したりするときに使います。「public」は、普通のHTMLファイルなどを設置するのに使うでしょう。「resources」は、画面表示のためのテンプレートを設置するのに使います。
  
  それ以外のものは、すぐには使いませんので覚えなくても大丈夫です。とりあえず、この４つのフォルダの役割ぐらいは大雑把に覚えておきましょう。
  
'''
tags: []
isStarred: false
createdAt: "2017-06-01T02:19:57.223Z"
updatedAt: "2017-06-01T02:20:02.719Z"
